<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328773955122-f4un3f1pttk70clh935pvdek7ifm40m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328773955122-f4un3f1pttk70clh935pvdek7ifm40m1</string>
	<key>API_KEY</key>
	<string>AIzaSyD73qjvfVfeI-fWVHWFN8SmFs8VpsWdcj4</string>
	<key>GCM_SENDER_ID</key>
	<string>328773955122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivankalachev.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-539fc</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-539fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328773955122:ios:3c219db3e7e037d5c5962b</string>
	<key>DATABASE_URL</key>
	<string>https://artable-539fc.firebaseio.com</string>
</dict>
</plist>